<link rel="stylesheet" href="./register.component.css">
    <div class="container-fluid box-register">
        <h2 class="title-register">Registro de Usuario</h2>
        <hr>
        <div class="card box-form">
            <div class="card-body form-register">
                <form>
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control">
                    <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
                    <select class="form-select">
                        <option>Tarjeta de identidad</option>
                        <option>Cédula de ciudadania</option>
                        <option>NUIP</option>
                    </select>
                    <label for="numeroDocumento" class="form-label">Número de Documento</label>
                    <input type="text" class="form-control">
                    <button type="submit" class="btn btn-primary button-register">Registrar</button>
                </form>
            </div>
        </div>
    </div>

